@import 'typography';
@import 'variables';

:root {
  font-size: 16px;
}

*{
  padding: 0;
  margin: 0;
}
// -------------------------------------------------------
body {
  background-color: $Dark-Slate-Grey;
}
.container {
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
.card {
  width: 928px;
  background-color: $White;
  display: flex;
  margin: auto;
  padding: 24px 24px 24px 64px;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

}
.info-container {
  color: $Dark-Slate-Grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  margin-right: 40px;
  h1 {
    margin-bottom: 21px;
  }
  ul {
    list-style-type: none;
    margin-bottom: 38px;
  }
  ul li {
    padding-left: 2rem;
    background-image: url(../assets/images/icon-list.svg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
  }
  li {
    padding: 4px 0;
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 26px;
  }
}
.email-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
form {
  display: flex;
  flex-direction: column;
  input {
    padding: 18px 0px 18px 24px;
    border-radius: 7px;
    border: 1px solid $Grey;
    margin-bottom: 24px;
  }
  button {
    padding: 20px 60px 20px 60px;
    background-color: $Dark-Slate-Grey;
    color: $White;
    border: none;
    border-radius: 10px;    
  }
  button:hover {
    background: linear-gradient(270deg, #FF693E 0%, rgba(255, 105, 62, 0.00) 100%), #FF5478;
    transition: .3s;
    box-shadow: 0px 5px 20px #FF5478;
  }
}
.error {
  color: $Tomato;
}
.err-input {
  border: 1px solid $Tomato !important;
  background-color: $error-input;
}
.image {
  background-image: url(../assets/images/illustration-sign-up-desktop.svg);
  height: 593px;
  width: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

// ------------------------------------------------

.succes-card {
  background-color: $White;
  width: 504px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 48px 64px 64px 64px;
  box-sizing: border-box;
  color: $Dark-Slate-Grey;
  border-radius: 30px;
  h1 {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 44px;
  }
  button{
    padding: 18px 72px;
    background-color: $Dark-Slate-Grey;
    color: $White;
    border: none;
    border-radius: 10px;
    transition: .3s;
  }
  button:hover {
    background: linear-gradient(270deg, #FF693E 0%, rgba(255, 105, 62, 0.00) 100%), #FF5478;
    transition: .3s;
    box-shadow: 0px 5px 20px #FF5478;
  }
}
.succes-img {
  width: 64px;
  height: 64px;
  background-image: url(../assets/images/icon-success.svg);
  margin-bottom: 40px;
}
.none {
  display: none;
}
@import 'responsive';